body {
	background-image: url("../images/rainbowdiamond.jpeg"); 

}

h1 {
	color: aqua;
	font-size: 56px;
	font-weight: bolder;
	width: 100%;
	margin: auto;
}

h2 {
	color: red;
	font-size:36px;
	font-weight: bolder;
	width: 100%;
	margin: auto;
}

#instructions {
	font-size: 16px;
	color: lavender;
	font-style: serif;
	width: 50%;
	background: black;

}

#diamond{
	width: 220px;
	height: 220px;
	
}

#emerald{
	width: 220px;
	height: 220px;
	
	
}

#ruby{
	width: 220px;
	height: 220px;
	
}

#purple{
	width: 220px;
	height: 220px;
	
}